{% extends 'blog/sections/main.html' %}
{% load static %}

{% block title %}Instagram-Profile{% endblock %}


{% block css %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="image">
            <img src="{{ user.imageurl }}" alt="Avatar" class="avatar">
        </div>

        <div class="detail">
            <div class="detail-header">
                <span>User profile <strong style="font-size: 25px;">{{ query }}</strong></span>
                {% if query != request.user %}
                {% if connection %}
                <a href="{% url 'follow' query %}" id="follow">Unfollow</a>
                {% else %}
                <a href="{% url 'follow' query %}" id="follow">Follow</a>
                {% endif %}
                {% endif %}
            </div>

            <div class="detail-footer">
                <span>No. of post : <strong>{{ post_count }}</strong></span>

                <span>No. of followers</span>

                <span>No. of following</span>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="user-posts">

        <div class="posted-pic">
            <div class="pictures">
                {% if post_user %}
                {% for post in post_user %}
                <img src=" {{ post.imageurl }} ">
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}